 Navbar.module.css
.navbar-container {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.navbar-container.active {
  background-color: #f4f4f4;
}

.nav-toggler-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
} 




































